h1 {
    font-family: var(--typography-heading-font-xl);
    font-weight: var(--typography-heading-fontWeight-xl);
    font-size: var(--typography-heading-fontSize-xl);
    line-height: var(--typography-heading-lineHeight-xl);
}

h2 {
    font-family: var(--typography-heading-font-l);
    font-weight: var(--typography-heading-fontWeight-l);
    font-size: var(--typography-heading-fontSize-l);
    line-height: var(--typography-heading-lineHeight-l);
}

h3 {
    font-family: var(--typography-heading-font-m);
    font-weight: var(--typography-heading-fontWeight-m);
    font-size: var(--typography-heading-fontSize-m);
    line-height: var(--typography-heading-lineHeight-m);
}

strong {
    font-weight: var(--typography-fontWeight-bold);
}

a {
    font-weight: var(--typography-fontWeight-medium);
    text-decoration: inherit;
    color: var(--color-primary);

    &:not(.ghost) {
        font-weight: var(--typography-fontWeight-semi-bold);
    }
}
a:hover {
    color: var(--color-primary-hover);
}

.card {
    padding: 2em;
}

.center {
    text-align: center;
}

body {
    background: var(--color-background);
}

section {
    background: var(--color-surface);
}

.clickable {
    cursor: pointer;

    &:hover {
        color: var(--color-primary);
    }
}

.text-muted,
.text-mute {
    color: var(--color-text-secondary);
}

.text-sm {
    font-size: var(--typography-body-fontSize-sm);
    font-weight: var(--typography-body-fontWeight-sm);
    line-height: var(--typography-body-lineHeight-sm);
}

.status {
    padding: 0.25em;
    border-radius: 0.5em;
    text-align: center;
    width: calc(100% - 0.5em);

    --c: black;
    color: var(--c);
    background: color-mix(in srgb, var(--c) 20%, transparent);

    &.green {
        --c: var(--color-brand-green);
    }

    &.blue {
        --c: var(--color-brand-blue);
    }

    &.red {
        --c: var(--color-brand-red);
    }

    &.yellow {
        --c: var(--color-brand-yellow);
    }

    &.grey,
    &.gray {
        --c: var(--color-brand-grey);
    }
}
