button {
    --c: var(--color-primary);

    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background: var(--c);
    cursor: pointer;
    transition: border-color 0.25s;
    color: var(--color-primary-inverse);

    &.ghost {
        background: transparent;
        color: var(--color-text-primary);

        &:hover {
            color: var(--c);
            background: color-mix(in srgb, transparent 95%, black);
        }
    }

    &.danger {
        --c: var(--color-brand-red);
    }

    &.success {
        --c: var(--color-brand-green);
    }

    &.warning {
        --c: var(--color-brand-yellow);
    }

    &.info {
        --c: var(--color-brand-blue);
    }

    &:hover {
        background: color-mix(in srgb, var(--c) 90%, black);
    }

    &.secondary {
        border: 1px solid var(--c);
        background: transparent;
        color: var(--c);

        &:hover {
            background: color-mix(in srgb, transparent 95%, black);

            @media (prefers-color-scheme: dark) {
                background: color-mix(in srgb, transparent 95%, white);
            }
        }
    }

    &:disabled {
        background: var(--color-surface-hover);
        color: var(--color-text-secondary);
        border: 1px solid var(--color-border);
        cursor: not-allowed;
    }

    &:has(ion-icon) {
        display: flex;
        align-items: center;
        gap: 0.5em;

        ion-icon {
            font-size: 1.2em;
            color: inherit;
        }
    }
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
