dialog[open] {
    border-radius: 1em;
    border: 1px solid var(--color-border);

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }

    > .content {
        outline: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        width: 40vw;
        overflow: hidden;
        gap: 1em;
        position: relative;

        :first-child {
            margin-top: 0;
        }
    }

    .close {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    dialog[open],
    dialog[open] > div {
        max-width: 80vw !important;
    }

    .options .option:not(:has(input[type="checkbox"])) {
        grid-template-columns: 1fr;
        gap: 0.5em;
    }
}
