input,
select,
div.advanced-input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: var(--color-surface);
    border-radius: 8px;
    border: 1px solid var(--color-border);
    padding: 0.6em 1.2em;

    &:not(:last-child) {
        margin-bottom: 1em;
    }

    &:disabled {
        background-color: var(--color-surface-hover);
        color: var(--color-text-secondary);
    }

    &[aria-invalid="true"] {
        border-color: var(--color-brand-red);

        &:has(+ .error-description) {
            margin-bottom: 0.25em;
        }
    }
}

div.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;

    & input {
        width: 1.4rem;
        height: 1.4rem;
        margin: 0;
        cursor: pointer;
        accent-color: var(--color-primary);
    }
}

.error-description {
    color: var(--color-brand-red);
    font-size: 0.9em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 0.5em;

    & ion-icon {
        flex-shrink: 0;
        translate: 0 0.12em;
    }
}

div.chip-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    overflow-x: auto;
    margin-bottom: 1em;

    .chip-option {
        border: 1px solid var(--color-border);
        border-radius: 100vmax;
        font-size: 0.9rem;
        padding: 0.25em 1em;
        font-weight: bold;
        cursor: pointer;
        white-space: nowrap;

        &.selected {
            background-color: var(--color-text-primary);
            color: var(--color-surface);
        }

        &:has(ion-icon) {
            display: flex;
            align-items: center;
            gap: 0.5em;
            padding-left: 0.5em;

            ion-icon {
                font-size: 1rem;
            }
        }
    }
}
