.format-builder {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 4em);
    overflow-x: auto;

    .node {
        display: flex;
        flex-direction: column;
        --c: var(--color-primary);
        border: 1px solid var(--color-border);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: clip;
        border-radius: 1em;

        .header {
            background: color-mix(in srgb, var(--c) 10%, transparent);
            color: var(--c);
            font-weight: var(--typography-fontWeight-bold);
            padding: 0.5em 1em;
        }

        .body {
            background: var(--color-surface);
            color: var(--color-text-primary);
            padding: 1em;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        .footer {
            background: var(--color-background);
            color: var(--color-text-secondary);
            padding: 0.5em 1em;
        }
    }
}
