@import url("./assets/forms.css");
@import url("./assets/buttons.css");
@import url("./assets/dialogs.css");

:root {
    font-family: Sen, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-foreground);
    background-color: var(--color-background);

    --color-green: rgb(31, 202, 131);
    --color-red: rgb(231, 56, 56);
    --color-yellow: rgb(219, 186, 17);
    --color-blue: rgb(48, 141, 241);
    --color-primary: var(--color-green);
    --color-primary-hover: color-mix(in srgb, var(--color-green) 80%, #000);
    --color-primary-contrast: #fff;
    --color-background: #1d1d1d;
    --color-background-secondary: #000;
    --color-background-hover: rgb(37, 37, 37);
    --color-foreground: #ffffff;
    --color-foreground-secondary: rgb(192, 192, 192);
    --color-border: #282828;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-size: 1.5rem;
}

a {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: inherit;
}
a:hover {
    color: var(--color-primary-hover);
}

input,
select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: var(--color-background);
    border-radius: 8px;
    border: 1px solid var(--color-border);
    padding: 0.6em 1.2em;
    margin-bottom: 1em;

    &:disabled {
        background-color: var(--color-background-hover);
        color: var(--color-foreground-secondary);
    }
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100svh;
}

.text-muted {
    color: var(--color-foreground-secondary);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

.card {
    padding: 2em;
}

#app {
    width: 100%;

    & header .full {
        max-width: 1280px;
    }

    > .content {
        max-width: 1280px;
        width: calc(100% - 4rem);
        margin: 0 auto;
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    #app > .content {
        width: 100%;
        padding: 0;
    }
}

body {
    background: var(--color-background-secondary);
}

section {
    background: var(--color-background);
}

@media (prefers-color-scheme: light) {
    :root {
        --color-background: #ffffff;
        --color-background-secondary: #fafafa;
        --color-background-hover: rgb(242, 242, 242);
        --color-foreground: #213547;
        --color-foreground-secondary: rgb(113, 113, 113);
        --color-border: #f0f0f0;
    }
}
