name: Test

on:
    push:
    workflow_dispatch:

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: 25
                  cache: "npm"
            - name: Install dependencies
              run: npm ci
            - name: Run tests
              run: npm run test:run
